$regular: 400;
$medium: 500;
$bold: 700;

$global-background-color: #FFFFFF;
$global-text-color: #000000;

$header-background-color: rgba(#1E0906, 0.15);
$basket-counter-color: #F20505;

$footer-background-color: #3F3F3F;

$desktop-width: 1024px;
$desktop-end-width: 1366px;
