.main {
  position: relative;
  width: 100%;
  margin-bottom: 120px;
  flex: 1 0 auto;
}

.main__title {
  @include reset-text;
  @include base-font($bold);
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 26px;
}

.main__content-wrapper {
  display: flex;
  width: 100%;
  margin-top: 40px;
}
