.paginate {
  @include reset-list;
  display: flex;
  align-self: flex-end;
  margin-top: 30px;
}


.paginate__link {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  padding-top: 2px;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-align: center;
  color: $global-text-color;
  border: 0.7px solid $checkbox-color;
  border-radius: 2px;

  &--back,
  &--onward {
    width: 80px;
  }

  &--back {
    margin-right: 14px;
  }

  &--more {
    @include other-font();
  }

  &--onward {
    margin-left: 4px;
    margin-right: 0;
  }

  &--active {
    color: $global-background-color;
    background-color: $checkbox-hover-color;
    cursor: default;
  }

  &:not(&--active):hover,
  &:not(&--active):focus {
    color: $global-background-color;
    background-color: $checkbox-hover-color;
    border-color: $checkbox-hover-color;
  }

  &:not(&--active):active {
    color: $global-background-color;
    background-color: $checkbox-color;
    border-color: $checkbox-color;
  }
}
